@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwind</h1>
</div>

<div>
    <p><a class="btn" href="~/Customers/Index">List Customers</a></p>
</div>

<div>
    <p><a class="btn" href="~/Customers/Create">Add Customer</a></p>
</div>

<div>
    <p><a class="btn" href="~/Customers/Delete">Delete Customer</a></p>
</div>

<div>
    <p><a class="btn" href="~/Customers/Edit">Edit Customer</a></p>
</div>
